.achievement-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-top: 2%;
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%
  padding: 1rem;
}
.achievement {
  background-color: #f5f5f5;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}
.achievement-list h1 {
  margin-top: 8%;
  margin-bottom: 2%;
}
.achievement span {
  font-weight: bold;
}
.achievement button {
  margin-top: 5px;
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 5px;
  content: "Claim";
}
.achievement button:disabled {
  background-color: grey;
}
.achievement button:enabled {
  background-color: #865DFF;
}
.emptyProgressBar {
  background-color: #ddd;
  height: 15px;
  border-radius: 5px;
  margin-top: 5px;
  position: relative;
}
.emptyProgressBar div {
  width: 25%;
  height: 100%;
  background-color: #E384FF;
  border-radius: 5px;
}
.currentProgress {
  width: 25%;
  height: 100%;
  background-color: #E384FF;
  border-radius: 5px;
}