#shop-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  list-style-type: none;
  padding-left: 0;   /* removes the indent too */
  margin-left: 0;
  padding: 1rem;
}
.shop-list h1 {
  margin-top: 8%;
  margin-bottom: 2%;
}
.shop-node {
  background-color: #f5f5f5;
  padding: 10px;
  width: 50%;
  margin-bottom: 10px;
  border-radius: 5px;
  margin: 0 auto 10px auto; 
  text-align: center;
}
.shop-node span {
  font-weight: bold;
}
.shop-node button {
  margin-top: 5px;
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 5px;
}
.shop-node button:disabled {
  background-color: grey;
}
.shop-node button:enabled {
  background-color: #865DFF;
}
.item-title {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: bold;
}
.item-description {
  color: rgb(0, 0, 0);
  font-size: 18px;
}
.item-example {
    padding-top: 3%;
    padding-bottom: 3%;
}
.test-button {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
  text-align: center;
  font-size: 24px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #7a65c1;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #725AC1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725AC1;
}

.test-button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725AC1;
}

.test-button:active {
  transform: scale(0.9);
}